<%= form_with url: path, method: method, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :city %>
  <%= form.text_field :city %>
  <br>
  <%= form.label :employee_count %>
  <%= form.number_field :employee_count %>
  <br>
  <p>Order Ahead Available?</p>
  <%= form.label :order_ahead %>
  <%= form.check_box :order_ahead %>
  <br>
  <%= form.submit button_text %>
<% end %>