<h1><%= @shop.name %>'s Show Page</h1>
<p><%= link_to "Update #{@shop.name}", "/shops/#{@shop.id}/edit" %></p>

<ul>
  <li>City: <%= @shop.city %></li>
  <li>Order Ahead?: <%= @shop.order_ahead %></li>
  <li>Employee Count: <%= @shop.employee_count %></li>
  <li>Pie Varieties Available: <%= @shop.pies_count %></li>
</ul>

<h4><%= link_to "#{@shop.name}'s Pies", "/shops/#{@shop.id}/pies" %></h4>
<h4><%= button_to "Delete #{@shop.name}", "/shops/#{@shop.id}", method: :delete %></h4>