<%= form_with url: "/pies/#{@pie.id}", method: :patch, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :category %>
  <%= form.text_field :category %>
  <br>
  <%= form.label :bake_time %>
  <%= form.number_field :bake_time %>
  <br>
  <p>Available for Wholesale?</p>
  <%= form.label :wholesale %>
  <%= form.check_box :wholesale %>
  <br>
  <%= form.submit "Update Pie" %>
<% end %>