<h1><%= @shop.name %>'s Pies</h1>

<ul>
  <% @pies.each do |pie| %>
    <li id="pies_<%= pie.id %>">
      <p>Name: <%= pie.name %> <%= link_to "Edit #{pie.name}", "/pies/#{pie.id}/edit" %> <%= link_to "Delete #{pie.name}", "/pies/#{pie.id}", method: :delete %></p>
      <p>Category: <%= pie.category %></p>
      <p>Wholesale?: <%= pie.wholesale %></p>
      <p>Bake Time: <%= pie.bake_time %></p>
    </li>
  <% end %>
</ul>
<%= form_with url: "/shops/#{@shop.id}/pies", method: :get, local: true do |form| %>
  <%= form.label "Pies with a bake time over:" %><br>
  <%= form.number_field :bake_time_threshold %><br>
  <%= form.submit "Filter Pies" %>
<% end %> 

<p><%= link_to "Create Pie", "/shops/#{@shop.id}/pies/new" %><p>
<p><%= link_to "Sort Pies Alphabetically", "/shops/#{@shop.id}/pies?sort=name", method: :get %></p>